<body>
<section id="randomFood">
    <h2>Delivery Restaurants in Pune</h2>
    <div class="row">
        <%foodProducts.forEach(function(e) { %>
            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 20rem;">
                    <img src="/img/online/<%= e.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.foodname %></h5>
                        <p class="card-text"><%= e.foodtype %>&nbsp;&nbsp;&nbsp; ₹<%= e.price %></p>
                        <a data-food="<%= JSON.stringify(e) %>" class="btn btn-primary" id="addToCart">Add to Cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        <%})%>
        
        <!-- <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 20rem;">
                <img src="/img/online/burger.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Bomber Big Rush Burger</h5>
                    <p class="card-text">Burger, Fast Food, Desserts</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/dosa.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vaishali Special Masala Dosa</h5>
                    <p class="card-text">South Indian, Street Food</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/coffee.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Brew Culture Frappe</h5>
                    <p class="card-text">Beverages&nbsp;&nbsp; ₹160.95</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/pizza.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Veg Heaven Pizza</h5>
                    <p class="card-text">pizza,Fast Food&nbsp;&nbsp;  ₹100 for one</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/chicken.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Butter Chicken Boneless</h5>
                    <p class="card-text">Biryani, North Indian&nbsp;&nbsp;  ₹350 for one</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/irani.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bun Maska</h5>
                    <p class="card-text">Iranian, Fast Food&nbsp;&nbsp; ₹55 for one</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/misal.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jogeshwari Misal</h5>
                    <p class="card-text">Street Food&nbsp;&nbsp; ₹100 for one</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/paneer.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kaju Paneer Butter Masala</h5>
                    <p class="card-text">North Indian, Street Food&nbsp;&nbsp; ₹250 for one</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/paratha.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cheesy Cheese Parantha</h5>
                    <p class="card-text">North Indian&nbsp;&nbsp; ₹150 for one</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/pavbhaji.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MH 12 Pav Bhaji</h5>
                    <p class="card-text">Street Food&nbsp;&nbsp; ₹160 for one</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/vadapav.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Garden Vada Pav Centre</h5>
                    <p class="card-text">Street Food&nbsp;&nbsp; ₹150 for 10</p>
                    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </div> -->
    </div>
</section>
<section id="end">
    <div class="texted">
        <h2>End of Search results</h2>
    </div>
    <div class="img1">
        <img src="/img/end.avif" alt="image" />
    </div>
</section>
</body> 